@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-brand: #FFC82C;
  --color-dark: #121212;
}

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
}

/* Custom utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}